In [23]:
import pandas as pd

In [24]:
pd.__version__

'1.5.2'

In [25]:
df = pd.read_csv('green_tripdata_2019-09.csv', nrows=100)
df.head(10)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.00,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.00,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.00,NaN,0.3,18.36,1,1,0.0
5,2,2019-09-01 00:55:37,2019-09-01 01:17:02,N,1,7,41,1,6.26,21.0,0.5,0.5,0.00,6.12,NaN,0.3,28.42,2,1,0.0
6,2,2019-09-01 00:28:55,2019-09-01 00:52:09,N,1,33,37,1,4.34,18.0,0.5,0.5,3.86,0.00,NaN,0.3,23.16,1,1,0.0
7,1,2019-09-01 00:03:13,2019-09-01 00:03:32,N,1,55,55,1,1.20,2.5,0.5,0.5,0.00,0.00,NaN,0.3,3.80,3,1,0.0
8,1,2019-09-01 00:15:28,2019-09-01 00:43:22,N,1,55,89,1,0.00,22.2,0.0,0.5,0.00,0.00,NaN,0.3,23.00,1,1,0.0
9,2,2019-09-01 00:29:16,2019-09-01 00:30:15,N,1,17,17,1,0.14,2.5,0.5,0.5,0.00,0.00,NaN,0.3,3.80,2,1,0.0

In [26]:
df.lpep_pickup_datetime  = pd.to_datetime(df.lpep_pickup_datetime )
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [27]:
from sqlalchemy import create_engine

In [28]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [29]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [30]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv', iterator=True, chunksize=100000)

In [31]:
df = next(df_iter)

In [32]:
len(df)

100000

In [33]:
df.lpep_pickup_datetime  = pd.to_datetime(df.lpep_pickup_datetime )
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [43]:
df.head(2)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
400000,NaN,2019-09-06 21:06:00,2019-09-06 21:23:00,NaN,NaN,42,167,NaN,3.19,23.35,2.75,0.5,0.0,0.0,NaN,0.0,26.60,NaN,NaN,NaN
400001,NaN,2019-09-06 21:48:00,2019-09-06 22:01:00,NaN,NaN,169,127,NaN,4.44,19.73,2.75,0.5,0.0,0.0,NaN,0.0,22.98,NaN,NaN,NaN

In [35]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [36]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: user 4.48 s, sys: 114 ms, total: 4.6 s
Wall time: 8 s

1000

In [37]:
from time import time

In [38]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime  = pd.to_datetime(df.lpep_pickup_datetime )
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
        
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 8.144 second
inserted another chunk, took 8.262 second

/tmp/ipykernel_76998/180207987.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 8.388 second
inserted another chunk, took 3.544 second

StopIteration:

In [39]:
# !wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

In [40]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [41]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [42]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265